<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebDriverPath" value="C:\"/>
    <add key="LoginId" value="smailavaram"/>
    <add key="Password" value="Transform2992?"/>
    <add key="dDBServer" value="proddw1.database.windows.net"/>
    <add key="dngsdwDBName" value="dwcloud"/>
    <add key="sql" value=""/>
    <add key="url" value="https://nethawktemp.newgistics.com/CourierPerformance/"/>
    <add key="browser" value="Chrome"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
